@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

body {
  background: url('../img/edcho2.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
/* input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
} */
iframe {
  filter: brightness(60%);
  transition: all 1s;
  border-radius: 5px;
}
iframe:hover {
  filter: none;
  	transition: all 1s;
}
.commentes {
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  color: #d7d7d7;
  background:
}

#renNemComent{
  background: #d7d7d7;
  border-radius: 5px;
  padding: 20px;
}
/* погода */
.weatherLoc {
  font-family: 'Montserrat';
  color: #d7d7d7;
  display: inline-flex;
  margin-left: 20px;}
#city {
  display: flex;
  align-items: center;
}
#coment-field{
  line-height: 2px;
}
#comment-add{
  border: solid 2px #d7d7d7;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
/* about us */
/* сдайдер */
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}

.slider {
  position: relative;
  width: 93%;
  margin-top: 20px;

}
.slider .slick-arrow {
  position: absolute;;
  top: 91%;
  z-index: 10;
  font-size: 0;
  width: 45px;
  height: 25px;
  border: none;

}
.slider_items {
  border: none;
}
.slider .slick-arrow.slick-prev {
  left: 20px;
  background: url('../img/left1.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 20px;
  background: url('../img/right1.svg') 0 0 / 100% no-repeat;
}
#gid {
  margin-top: 70px;
  font-family: 'Montserrat';
  color: #ffffff;

  }
.infogid{
  /* background: #111111; */
  padding: 10px;
  height: 415px;
  background: url('../img/smile (1).svg') no-repeat top right;
  overflow: hidden;
    }
  .slider_items {
    border: solid 2px #ffed00;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    background: #060606;
    font-family: 'Montserrat';
    color: #bfbfbf;
    margin-bottom: 10px;
    outline: none;
  }
.gidName {
    /* background: #111111; */
  }
.infotext {
  font-size: 30%;
}
/* полумесяц */
.d26 {
width: 63px;
height: 63px;
margin: -10px 0 10px 0;
border-radius: 50%;
box-shadow: 4px 4px 0 0  #ffed00;
font-size: 250%;
/* font-weight: 100; */
}
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: black;
  z-index: 100000;
}

.preloader_image {
  position: absolute;;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background: url('../img/giphy.gif') no-repeat 50% 50%;
  background-size: 200px;
}
.loader .preloader {
display: none;

}
  /* навбар */
  .header-section {
  	position: absolute;
  	width: 100%;
  	left: 0;
  	top: 0;
  	z-index: 999;
  }
  .inner-header .logo {
    padding-left:  4%;
  /* padding-right:  3%; */
  	float: left;
  	line-height: 60px;
  }
  .inner-header .logo a {
  	display: inline-block;
  }
  .inner-header .wrapper {
  	float: right;
  	padding-right: 45px;

  }

   .inner-header .menu  li {

  	/* margin-right: 3%; */
  	line-height: 15px;
  	padding: 5px;

  }

  .inner-header .menu  li.active a {
  	color: #ffed00;

  }

  .inner-header .menu  li.active a:after {
  	opacity: 1;
  }

  .inner-header .menu  li:last-child {
  	margin-right: 0;
  }
/* точка под ссылкой */
  .inner-header .menu  li>a {
  	color: #ffffff;
  	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	display: inline-block;
  	position: relative;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
  }

  .inner-header .menu  li>a:hover {
  	color: #ffed00;
  }

  .inner-header .menu  li>a:hover::after {
  	opacity: 1;
  }

  .inner-header .menu  li>a:after {
  	position: absolute;
  	left: 50%;
  	bottom: 1px;
  	width: 5px;
  	height: 5px;
  	background: #ffed00;
  	content: "";
  	border-radius: 50%;
  	-webkit-transform: translateX(-2.5px);
  	transform: translateX(-2.5px);
  	opacity: 0;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
  }

.menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline;
}

.menu li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.wrapper{
  max-width: 1024px;
  padding: 10px;
  margin: 0px auto;
}

.menuToggle{

    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

@media( max-width: 790px){
    .menuToggle{
        display: block;
    }

    .menu{
        display: none;
        position: absolute;
        width:auto;
        margin-left: -70px;

    }

    .menu li{
        display: block;
    background-color: rgba(111, 111, 111, 0.71);
  }
}
.icon {
    width: 10px;

    height: 30px;
    cursor: pointer;
}
.hamburger {
    width: 30px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    padding-right: 4%
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 30px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
@media( max-width: 576px){
  #titleText1 {
    margin-top: 40px;
  }
  }
