@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

/* форма */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
.form {
  position: relative;
}
.form-control1 {
position: absolute;
margin-top: -25%;
margin-left: -10px;
}

.popup {
  background: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  /* height: calc(100% - 40px); */
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  place-content: center;
  /* width: calc(100% - 40px); */
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y:auto;
  transition: all 0.8s ease 0s;
}
.popup_body {
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
  opacity: 0;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_body{
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
opacity: 1;
}
.right {
  position: relative;
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  color: white;
}

.right svg  {
  position: absolute;
  width: 320px;
}
.right path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 32px;
  position: absolute;
}
.form_body label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.form_body input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 43px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.form_body input::-moz-focus-inner {
  border: 0;
}
 #submit {
  color: #707075;
  margin-top: 10px;
  transition: color 300ms;
}
 #submit:focus {
  color: #f2f2f2;
}
 #submit:active {
  color: #d0d0d2;
}

/* __фррма */
/* погода */
.weatherLoc {
  font-family: 'Montserrat';
  color: #d7d7d7;
  display: inline-flex;
  margin-left: 20px;}
#city {
  display: flex;
  align-items: center;
}

/* скроллбар */
.swiper-scrollbar-drag {
  background:  #ffed00;


}
.swiper-scrollbar {
  margin-top: 19%;
background: #d7d7d7;
}
.swiper-container {
padding-bottom: 40px;
padding-left: 0;
padding-right: 0;
}
.nameMame {
  margin-top: 70px;
}
h1 {
    text-align: center;
  color: #ffffff;
  font-weight: 300;
  padding: 40px 0 20px 0;
  margin: 0;
  font-family: "Montserrat";
}

.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  background: rgba(80, 80, 80, 0.21);
  padding: 20px;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
  overflow: hidden;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.tabs ul {

  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.8s ease-in-out;
  color: white;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label img {
  fill: #ffed00;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #ffed00;
;
}
.tabs ul li label:hover img, .tabs ul li label:focus img, .tabs ul li label:active img {
  fill: #ffed00;
}
.tabs .slids {
  position: relative;
  width: 20%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slids .indicator {
  position: relative;
  width: 5px;
  left: 6%;
  bottom: 1px;
  max-width: 100%;
  margin: 0 auto;
  height: 5px;
  background: #ffed00;
  border-radius: 50%;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #ffed00;
  display: none;
}
/* .tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 5px;
  height: 3px;
  background: #ffed00;
  margin-top: 5px;
  left: 10%;
  border-radius: 50%;
} */
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #ffed00;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #ffed00;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slids {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #ffed00;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label img {
  fill: #ffed00;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slids {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #ffed00;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label img {
  fill: #ffed00;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slids {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #ffed00;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label img {
  fill: #ffed00;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slids {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
  cursor: default;
  color: #ffed00;
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label img {
  fill: #ffed00;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    background: rgba(0, 0, 0, 0.08);
  }

}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slids {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .content > section:nth-child(5) {
  display: block;

}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label img {
    height: 1.5em;
  }
}
@media (max-width: 733px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slids {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}


body {
  background: url('../img/edcho3.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}



 /* a img:hover {
  -webkit-filter: sepia(1) hue-rotate(360deg) saturate(10);
  filter: sepia(1) hue-rotate(360deg) saturate(10);

} */

  .preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: black;
    z-index: 100000;
  }

  .preloader_image {
    position: absolute;;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    background: url('../img/giphy.gif') no-repeat 50% 50%;
    background-size: 200px;
  }
.loader .preloader {
  display: none;
/* карты */
}
.rating-result {
	width: 205px;
	margin: 0 auto;

}
.rating-result span {
	padding: 0;
	font-size: 20px;
  float: right;

	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #ffed00;;
	text-shadow: 1px 1px #c60;
}

.card-img-overlay {

  font-family: 'Montserrat', sans-serif;

}
.card-img-top {
  filter: brightness(35%);
  border-radius: 5px;

}
.card {
  color: white;
  background: none;
  outline: none;
  border: none;
}
.turName {
  border: solid 2px #d7d7d7;
  border-radius: 15px;
  color: #d7d7d7;
}
.turName:hover {
  border: solid 2px #ffed00;;
  border-radius: 15px;
  color: #d7d7d7;
}
.card-title{
 text-align: center;
 margin-top: 30px;
}
.card-city {
  margin-top: 130px;
  color: #c1bebe;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: #d7d7d7;
}
/* .turName a:hover {color: #ffed00;} */

.card-text {
  margin-top: 20px;
  color: #d7d7d7;
  font-size: 80%;
  font-family: 'Montserrat', sans-serif;
}
  /* навбар */
  .header-section {
  	position: absolute;
  	width: 100%;
  	left: 0;
  	top: 0;
  	z-index: 999;
  }
  .inner-header .logo {
    padding-left:  4%;
  /* padding-right:  3%; */
  	float: left;
  	line-height: 60px;
  }
  .inner-header .logo a {
  	display: inline-block;
  }
  .inner-header .wrapper {
  	float: right;
  	padding-right: 45px;

  }

   .inner-header .menu  li {

  	/* margin-right: 3%; */
  	line-height: 15px;
  	padding: 5px;

  }

  .inner-header .menu  li.active a {
  	color: #ffed00;
  }

  .inner-header .menu  li.active a:after {
  	opacity: 1;
  }

  .inner-header .menu  li:last-child {
  	margin-right: 0;
  }
/* точка под ссылкой */
  .inner-header .menu  li>a {
  	color: #ffffff;
  	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	display: inline-block;
  	position: relative;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
  }

  .inner-header .menu  li>a:hover {
  	color: #ffed00;
  }

  .inner-header .menu  li>a:hover::after {
  	opacity: 1;
  }

  .inner-header .menu  li>a:after {
  	position: absolute;
  	left: 50%;
  	bottom: 1px;
  	width: 5px;
  	height: 5px;
  	background: #ffed00;
  	content: "";
  	border-radius: 50%;
  	-webkit-transform: translateX(-2.5px);
  	transform: translateX(-2.5px);
  	opacity: 0;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
  }

.menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline;
}

.menu li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.wrapper{
  max-width: 1024px;
  padding: 10px;
  margin: 0px auto;
}

.menuToggle{

    padding: 10px 15px;
    cursor: pointer;
    display: none;
}


@media( max-width: 790px){
    .menuToggle{
        display: block;
    }

    .menu{
        display: none;
        position: absolute;
        width:auto;
        margin-left: -70px;

    }

    .menu li{
        display: block;
        background-color: rgba(173, 173, 173, 0.71);
    }
  }

.icon {
    width: 10px;

    height: 30px;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    padding-right: 4%
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 30px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
/* попап */
@media (max-width: 767px) {
  .popup {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.popup_body {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .popup_body {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 70%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 200px;
  }
}
.login {
  font-size: 50px;
  font-weight: 200;
  margin: 30px 20px 20px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
